<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/uroskatanic/IdeaProjects/REST-Assured-Framework">
   <classes>
<!--       Test for books-->
       <class name="tests.test_for_books.add_book_store"></class>
       <class name="tests.test_for_books.check_book_value"></class>
       <class name="tests.test_for_books.checkMultyBooks"></class>
<!--       Test for google maps-->
       <class name="tests.fake_google_maps_api.get_data_for_place"></class>
       <class name="tests.fake_google_maps_api.create_place"></class>
       <class name="tests.fake_google_maps_api.delete_place"></class>
       <class name="tests.fake_google_maps_api.update_place"></class>

   </classes>
</test>
</suite>